<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Global8ball3D</title>
    <script src="/js/pep.js"></script>
    <script src="/js/babylon.js"></script>
    <script src="/js/cannon.js"></script>
    <script src="/js/balls_config.js"></script>
    <script src="/js/borders_config.js"></script>
    <script src="/js/holes_config.js"></script>
    <script src="/js/playground_config.js"></script>
    <script src="/js/rail_config.js"></script>
    <script src="/js/game3d.js"></script>
    <style>
      html, body {
        overflow: hidden;
        width   : 100%;
        height  : 100%;
        margin  : 0;
        padding : 0;
      }

      #renderCanvas {
        width   : 100%;
        height  : 100%;
        touch-action: none;
      }
    </style>
  </head>
  <body>
    <canvas id="renderCanvas" touch-action="none"></canvas>
    <script>
      function initializeGame() {
        var tableConfig = {
          bordersConfig: BORDERS,
          holesConfig: HOLES,
          playgroundConfig: PLAYGROUND,
          railConfig: RAIL
        };
        var game = new Global8ball.Game3D(tableConfig);
        game.init();
      }
      window.addEventListener('DOMContentLoaded', initializeGame);
    </script>
  </body>
</html>
